@keyframes marquee {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(35%);
  }
}

.text-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

.text-marquee span {
  margin-right: 4rem; /* ปรับเพิ่มเว้นวรรคตามที่ต้องการ */
}
